/*
 * Base structure
 */
 /* 重置样式CSS */
 *{
 	margin: 0;
 	padding: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 	box-sizing:border-box;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 /* 默认样式 */

 body {
 	line-height: 1;
 	font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
 	font-size:16px;
 }
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
/*
 * Global add-ons
 */
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .header-fixed-top {
   position:fixed;
   z-index:9999;
   top:0px;
   left:0px;
   width:100%;
   height:50px;
   background-color:#222;
 }
.navbar-logo {
  display:inline-block;
  width:50px;
  height:50px;
  padding:0;
}
.navbar-btn{
  display: inline-block;
  border: none;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #222;
  color: white;
}
.navbar-btn span {
  visibility:hidden;;
}
.navbar-title {
  display:inline-block;
  height:50px;
  border:0px;
  padding:0px;
  margin:0 0 0 20px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  color:white;
}
.g-sidebar.active{
  position:fixed;
  z-index: 9999;
  top:50px;
  left:0px;
  width:300px;
  height:100%;
  background-color: #222;
  transition: all 500ms ease-in-out;
}
.g-sidebar{
  position:fixed;
  z-index: 9999;
  top:50px;
  left:-300px;
  width:300px;
  height:100%;
  background-color: #222;
  transition: all 3000ms ease-in-out;
}
/* 导航列表样式 */
.m-nav{
	margin-top:20px;
  padding:0px;
}
.m-nav li{
	display:block;
	height:46px;
}
.m-nav >li.z-sel{
	background-color: #00b4a0;
}

.m-nav > li > a {
	text-decoration: none;
	color:#00b4a0;
  position: relative;
  display: block;
  padding: 15px 60px;
  font-size: 1.5rem;
}
.m-nav >li > a.z-sel{
	color:#333;
}



.unslider{
  background-color: #00B4A0;
}
.banner { position: relative;
          overflow: auto;
          height:600px;
          width:90%;
          margin-top: 20px;
          margin-left:5%;
          border-radius: 10px;
          z-index:2;
          background-color: white;
        }

.banner ul {
  height:100%;
}
.banner li {
  list-style: none; }
.banner ul li {
  text-align: center;
  float: left;
  height:100%;

}
.banner .container-fluid{
  height:100%;
}
.banner .container-fluid div{
  height:100%;
}
#li-2 .btn-group-vertical{
  height:40%;
}
.u-form-time p{
  margin:100px 0;
}
.u-form-time button{
  width:100px;
}
.col-md-2 p{
  margin:150px 0;
}
.u-btn-block{
  width:100px;
}

.chart-small{
  height:800px;
}
.chart-small-main{
  height:90%;
  border:1px solid red;
}
.chart-small-panel{
  height:10%;
}

.inputs-row{
  display:inline-block;
  width:45%;
}

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f00b";
  position: absolute;
  padding: 0 1px;
  margin-bottom: 1px;
  font-family: FontAwesome;
  font-size: 24px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color:white;
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.col-md-2,
.chart-small-main　{
  border:1px solid red;
}
